@media screen and (min-width: 320px) {
	header {
		background-color: var(--dark-pink);
	}
	ul {
		display: none;
	}
	nav {
		display: flex;
		justify-content: space-between;
		padding: 50px 50px 0px 50px;
	}
	.deluni {
		display: none;
	}
	.del2 {
		display: none;
	}
	.del3 {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	ul {
		display: flex;
	}
	.dell {
		display: none;
	}
	.del {
		display: flex;
	}
	.vg {
		display: none;
	}
	.del3 {
		display: none;
	}
	.del2 {
		display: flex;
	}
	.txt {
		width: 50%;
	}
	.deluni {
		display: flex;
		position: absolute;
		top: 120px;
		right: 0px;
		z-index: 2;
	}
}
@media screen and (min-width: 1024px) {
	ul {
		display: flex;
	}
	.dell {
		display: none;
	}
	.vg {
		display: none;
	}
	.del2 {
		display: none;
	}
	.del3 {
		display: flex;
	}
	.txt {
		width: 38%;
	}
	.deluni {
		display: flex;
		position: absolute;
		top: 120px;
		right: 160px;
		z-index: 2;
	}
	.middleavantage {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 40px;
	}
}
