@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
    --primary-color: #9260E8, #FFFFFF;
}
:root {
    --secondary-color: #48D0B7, #3A3A3A, #CF468D, #A2A2A2;
}
:root {
    
}
:root {
    
}
:root {
    
}
:root {
    
}
h1 {
    color: #523682;
    font-size: 42px;
}
h2 {
    color: #523682;
    font-size: 32px;
}
h3 {
    color: #523682;
    font-size: 26px;
}
h4 {
    color: #A2A2A2;
    font-size: 18px;
}
h5 {
    color: #A2A2A2;
    font-size: 14px;
}
h6 {
    color: #979797;
    font-size: 12px;
}