@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--dark-pink: #9260e8;
}
:root {
	--white: #ffffff;
}
:root {
	--cyan-blue: #48d0b7;
}
:root {
	--mirage-black: #3a3a3a;
}
:root {
	--charm-pink: #cf468d;
}
:root {
	--light-grey: #a2a2a2;
}

h1 {
	color: #ffffff;
	font-size: 42px;
}
h2 {
	color: #523682;
	font-size: 32px;
}
h3 {
	color: #523682;
	font-size: 26px;
}
h4 {
	color: var(--light-grey);
	font-size: 18px;
}
h5 {
	color: var(--light-grey);
	font-size: 14px;
}
h6 {
	color: var(--light-grey);
	font-size: 12px;
}
a {
	color: var(--white);
	text-decoration: none;
	font-weight: 700;
}
ul {
	list-style: none;
	gap: 20px;
}
body {
	font-family: "Poppins";
}
.top {
	background-color:	var(--dark-pink);
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 0px 50px;
}
.free {
	font-weight: 700;
	background-color: var(--cyan-blue);
	padding: 10px 30px;
	border-radius: 9999px;
}
.white {
	color: var(--white);
}
.vg {
	width: 100%;
	background-color: var(--dark-pink);
}
.fr {
	padding: 40px 0px;
}
.del2 {
	width: 100%;
	background-color: var(--dark-pink);
}
.del3 {
	width: 100%;
	background-color: var(--dark-pink);
}

.pos {
	display: flex;
	position: relative;
}