@media screen and (min-width: 320px) {
	header {
		background-color: var(--dark-pink);
	}
	ul {
		display: none;
	}
	nav {
		display: flex;
		justify-content: space-between;
		padding: 50px 50px 0px 50px;
	}
	.del {
		display: none;
	}
	.del2 {
		display: none;
	}
	.del3 {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	ul {
		display: flex;
	}
	.dell {
		display: none;
	}
	.del {
		display: flex;
	}
	.vg {
		display: none;
	}
	.del3 {
		display: none;
	}
	.del2 {
		display: flex;
	}
	.txt {
		width: 50%;
	}
    .uni {
	display: flex;
	position: absolute;
	bottom: 10px;
	right: -20px;
	z-index: 2;
}
}
@media screen and (min-width: 1024px) {
	ul {
		display: flex;
	}
	.dell {
		display: none;
	}
	.vg {
		display: none;
	}
	.del2 {
		display: none;
	}
	.del3 {
		display: flex;
	}
	.txt {
		width: 50%;
	}
    .uni {
	display: flex;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 2;
}
}
