@media screen and (min-width:320px) {
    header {
        background-color: var(--dark-pink);
    }
    ul {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
}
@media screen and (min-width:768px) {
    ul {
        display: flex;
    }
    .del {
        display: none;
    }

}
@media screen and (min-width:1024px) {
     ul {
        display: flex;
    }
    .del {
        display: none;
    }
    
}